# Logs
frontend/logs/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Node modules and build output
frontend/node_modules/
**/node_modules/

frontend/dist/
**/dist/

frontend/dist-ssr/
frontend/*.local

# Environment files
.env
.env.*.local
frontend/.env
frontend/.env.*.local
backend/.env

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

py_scripts/
data/pokemon-pictures/