.panel.left {
    position: relative;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #da0000;

    .top {
        display: flex;

        .red.left {
            width: 98px;
            height: 118px;
            border-top-left-radius: 15px;
            background-color: red;
        }

        .red.right {
            width: 202px;
            height: 58px;
            background: linear-gradient(90deg, red 96%, #b60000 99%);
        }

        .sideways {
            width: 100px;
            height: 60px;
            background: linear-gradient(135deg, red 50%, transparent 50%);
        }

        .lights-wrapper {
            position: absolute;
            display: flex;
            justify-content: space-evenly;
            width: 170px;
            height: 118px;

            .big-blue {
                width: 50px;
                height: 50px;
                border: 8px solid #cccccc;
                margin: 26px 20px;
                border-radius: 50%;
                background-color: #008cff;
            }

            .small-wrapper {
                display: flex;
                justify-content: space-between;
                width: 60px;
                padding: 12px 0;

                .small {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;

                    &.r {
                        background-color: #8f0000;
                    }

                    &.y {
                        background-color: #ffd000;
                    }

                    &.g {
                        background-color: green;
                    }
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-right: 40px;
        overflow: hidden;

        .display {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 230px;
            height: 190px;
            border: 1px solid #333333;
            background-color: #cccccc;

            .display-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30px;
                height: 20px;

                .display-light {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: red;
                }
            }

            .display-screen {
                width: 180px;
                height: 130px;
                border: 1px solid #333333;
                background-color: #95ff95;
                text-align: center;
                line-height: 180px;

                img {
                    height: 100%;
                }
            }

            .display-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 180px;

                button {
                    width: 12px;
                    height: 12px;
                    border: none;
                    border-radius: 50%;
                    background-color: red;
                }

                .speaker {
                    display: flex;
                    flex-direction: column;

                    .slit {
                        width: 30px;
                        height: 1px;
                        margin: 2px 0;
                        background-color: black;
                    }
                }
            }

            .weird-shape {
                position: absolute;
                left: -13px;
                bottom: -13px;
                width: 25px;
                height: 25px;
                background-color: #da0000;
                border-right: 1px solid black;
                transform: rotate(-45deg);
            }
        }
    }

    .control-panel {
        display: flex;
        justify-content: space-between;
        width: 230px;
        padding: 20px 0;

        .black-button {
            width: 35px;
            height: 35px;
            margin-top: 3px;
            border-radius: 50%;
            background-color: #333333;
        }

        .middle {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90px;

            .thingies {
                display: flex;
                padding: 0 5px;

                .thingy {
                    width: 37px;
                    height: 5px;
                    border-radius: 2.5px;

                    &.red {
                        margin-right: 26px;
                        background-color: red;
                    }

                    &.blue {
                        background-color: #0066ff;
                    }
                }
            }

            .name-plate {
                width: 90px;
                height: 50px;
                padding: 3px;
                border: 1px solid black;
                border-radius: 7px;
                color: black;
                background-color: #95ff95;
                font-family: "Press Start 2P", system-ui;
                font-size: 9px;
                line-height: 48px;
                letter-spacing: -1px;
                text-align: center;
            }
        }

        .d-pad {
            position: relative;
            width: 24px;
            height: 24px;
            margin: 30px;
            background-color: #333333;

            button {
                position: absolute;
                width: 22px;
                height: 22px;
                padding: 0;
                border: none;
                background-color: #333333;

                &:hover {
                    z-index: 2;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                }

                .d-dot {
                    width: 6px;
                    height: 6px;
                    margin: 8px;
                    border-radius: 50%;
                    background-color: black;
                }
            }

            button:active {
                background-color: #777777;

                .d-dot {
                    background-color: #444444;
                }
            }

            .d-top {
                top: -22px;
                left: 1px;

                &::before {
                    top: 100%;
                    left: -1px;
                    border-width: 12px 12px 0 12px;
                    border-color: #333333 transparent transparent transparent;
                }

                &:active::before {
                    border-color: #777777 transparent transparent transparent;
                }
            }

            .d-right {
                top: 1px;
                right: -22px;

                &::before {
                    top: -1px;
                    left: -12px;
                    border-width: 12px 12px 12px 0;
                    border-color: transparent #333333 transparent transparent;
                }

                &:active::before {
                    border-color: transparent #777777 transparent transparent;
                }
            }

            .d-bottom {
                bottom: -22px;
                left: 1px;

                &::before {
                    bottom: 100%;
                    left: -1px;
                    border-width: 0 12px 12px 12px;
                    border-color: transparent transparent #333333 transparent;
                }

                &:active::before {
                    border-color: transparent transparent #777777 transparent;
                }
            }

            .d-left {
                top: 1px;
                left: -22px;

                &::before {
                    top: -1px;
                    right: -12px;
                    border-width: 12px 0 12px 12px;
                    border-color: transparent transparent transparent #333333;
                }

                &:active::before {
                    border-color: transparent transparent transparent #777777;
                }
            }
        }
    }

    .hinge {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 392px;
        background: linear-gradient(90deg, #8f0000, #ff0000 35%, #ff6a6a, #ff0000, #b60000 99%);

        .perspective {
            position: absolute;
            width: 100%;
            height: 10px;
            border-radius: 50%;
            background: linear-gradient(90deg, #8f0000, #ff0000 35%, #ff6a6a, #ff0000, #b60000 99%);
            transform: scaleY(1);
            transition: transform 0.6s ease-in-out;
        }

        .perspective.top {
            top: 0;
            transform: translateY(0);
            transition: transform 1s ease-in-out;
        }

        .perspective.bottom {
            bottom: 0;
            transform: translateY(0);
            transition: transform 1s ease-in-out;
        }
    }

    &.open {
        .hinge {
            .perspective {
                transform: scaleY(0);
            }

            .perspective.top {
                transform: translateY(-3px);
            }

            .perspective.bottom {
                transform: translateY(4px);
            }
        }
    }
}