.panel-right-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 3500px;

    .placeholder {
        width: 290px;
        height: 62px;
        background-color: transparent;
    }

    .cover {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transform-origin: left center;
        transform: rotateY(180deg);
        transition: transform 1s ease-in-out;

        .top {
            display: flex;

            .red,
            .sideways,
            .transparent {
                height: 60px;
            }

            .red {
                width: 90px;
                background-color: red;
            }

            .sideways {
                width: 100px;
                background: linear-gradient(45deg, red 50%, transparent 50%);
            }

            .transparent {
                width: 100px;
                background-color: transparent;
            }
        }

        .panel.right {
            width: 250px;
            height: 288px;
            padding: 20px;
            border-bottom-right-radius: 15px;
            background-color: red;
            z-index: 3;

            .yellow-arrow {
                position: relative;
                top: 125px;
                left: 240px;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 20px solid #ffd000;
            }

            .bottom-texture {
                position: relative;
                top: 240px;
                left: 32%;
                width: 100px;
                height: 10px;
                border-radius: 5px;
                background-color: #c00000;
            }

            &.inner {
                position: absolute;
                top: 60px;
                z-index: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: z-index;
                transition-delay: 0.5s;

                .screen {
                    padding: 3px;
                    border: 1px solid black;
                    border-radius: 7px;
                    color: black;
                    background-color: #95ff95;
                    font-family: "Press Start 2P", system-ui;
                }

                .description {
                    width: 244px;
                    height: 64px;
                    font-size: 8px;
                    text-align: left;
                }

                .blue {
                    display: flex;
                    flex-wrap: wrap;
                    width: 250px;
                    height: 70px;

                    button {
                        width: 50px;
                        height: 35px;
                        border: 1px solid #333333;
                        color: black;
                        background-color: #008cff;

                        &:first-of-type {
                            border-top-left-radius: 7px;
                        }

                        &:nth-of-type(5) {
                            border-top-right-radius: 7px;
                        }

                        &:nth-of-type(6) {
                            border-bottom-left-radius: 7px;
                        }

                        &:last-of-type {
                            border-bottom-right-radius: 7px;
                        }
                    }
                }

                .yellow-section {
                    display: flex;
                    justify-content: space-between;
                    width: 250px;
                    height: 70px;

                    .yellow-section-wrapper {
                        display: flex;
                        align-items: center;

                        .white-button {
                            width: 50px;
                            height: 35px;
                            border: none;
                            background-color: #cccccc;

                            &:first-of-type {
                                border: 1px solid #777777;
                                border-top-left-radius: 7px;
                                border-bottom-left-radius: 7px;
                            }

                            &:last-of-type {
                                border-top: 1px solid #777777;
                                border-right: 1px solid #777777;
                                border-bottom: 1px solid #777777;
                                border-top-right-radius: 7px;
                                border-bottom-right-radius: 7px;
                            }
                        }

                        &.right {
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-end;

                            .black-thingy-wrapper {
                                display: flex;
                                align-content: space-between;
                                padding: 10px 0;

                                .black-thingy {
                                    width: 42px;
                                    height: 7px;
                                    border-radius: 3px;
                                    background-color: #333333;

                                    &:first-of-type {
                                        margin-right: 7px;
                                    }
                                }
                            }

                            .yellow-button {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                background-color: #ffd000;
                            }
                        }
                    }
                }

                .type-wrapper {
                    display: flex;
                    justify-content: space-between;
                    width: 250px;

                    .type {
                        width: 105px;
                        text-align: center;
                    }
                }
            }
        }

        &:not(.open):not(.closed) {

            .top .red,
            .panel.right {
                margin-left: 10px;
            }
        }

        &.open {
            transform: rotateY(360deg);

            .top .red,
            .panel.right {
                animation: openAnim 0.5s forwards;

                &.inner {
                    z-index: 3;
                }
            }
        }

        &.closed {

            .top .red,
            .panel.right {
                animation: closeAnim 0.5s linear 0.5s forwards;
            }
        }
    }
}

@keyframes openAnim {
    from {
        margin-left: 10px;
    }

    to {
        margin-left: 0;
    }
}

@keyframes closeAnim {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 10px;
    }
}