.panel-right-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 3500px;

    .placeholder {
        width: 290px;
        height: 62px;
        background-color: transparent;
    }

    .cover {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transform-origin: left center;
        transform: rotateY(180deg);
        transition: transform 1s ease-in-out;

        .top {
            display: flex;

            .red,
            .sideways,
            .transparent {
                height: 60px;
            }

            .red {
                width: 90px;
                background-color: red;
            }

            .sideways {
                width: 100px;
                background: linear-gradient(45deg, red 50%, transparent 50%);
            }

            .transparent {
                width: 100px;
                background-color: transparent;
            }
        }

        .panel.right {
            width: 290px;
            height: 328px;
            border-bottom-right-radius: 15px;
            background-color: red;
            z-index: 3;

            .yellow-arrow {
                position: relative;
                top: 145px;
                left: 260px;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 20px solid #ffd000;
            }

            .bottom-texture {
                position: relative;
                top: 240px;
                left: 32%;
                width: 100px;
                height: 10px;
                border-radius: 5px;
                background-color: #c00000;
            }

            &.inner {
                position: absolute;
                top: 60px;
                z-index: 1;
                transition: z-index;
                transition-delay: 0.5s;
            }
        }

        &:not(.open):not(.closed) {

            .top .red,
            .panel.right {
                margin-left: 10px;
            }
        }

        &.open {
            transform: rotateY(360deg);

            .top .red,
            .panel.right {
                animation: openAnim 0.5s forwards;

                &.inner {
                    z-index: 3;
                }
            }
        }

        &.closed {

            .top .red,
            .panel.right {
                animation: closeAnim 0.5s linear 0.5s forwards;


                &.inner {
                    z-index: 1;
                }
            }
        }
    }
}

@keyframes openAnim {
    from {
        margin-left: 10px;
    }

    to {
        margin-left: 0;
    }
}

@keyframes closeAnim {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 10px;
    }
}