@use "../utilities/variables" as *;

.panel-right-wrapper {
    position: absolute;
    left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 3500px;
    transform-origin: left center;
    transform: rotateY(180deg);
    transition: transform 1s ease-in-out;

    &.open {
        transform: rotateY(360deg);

        .cover .top .red,
        .cover .panel.right {
            animation: openAnim 0.5s forwards;

            &.inner {
                z-index: 3;
            }
        }
    }

    &.closed {

        .cover .top .red,
        .cover .panel.right {
            animation: closeAnim 0.5s linear 0.5s forwards;
        }
    }

    .placeholder {
        width: 290px;
        height: 62px;
        background-color: transparent;
    }

    .cover {
        display: flex;
        flex-direction: column;
        align-items: center;

        .top {
            display: flex;

            .red,
            .sideways,
            .transparent {
                height: 60px;
            }

            .red {
                width: 90px;
                background-color: $red-main;
            }

            .sideways {
                width: 100px;
                background: linear-gradient(45deg, $red-main 50%, transparent 50%);
            }

            .transparent {
                width: 100px;
                background-color: transparent;
            }
        }

        .panel.right {
            width: 250px;
            height: 288px;
            padding: 20px;
            border-bottom-right-radius: 15px;
            background-color: $red-main;
            z-index: 3;

            &.outer {
                cursor: pointer;
                box-shadow: inset -4px 0 6px -2px $red-glowest;

                .yellow-arrow {
                    position: relative;
                    top: 125px;
                    left: 240px;
                    width: 0;
                    height: 0;
                    border-top: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-left: 20px solid $yellow-main;
                }

                .bottom-texture {
                    position: relative;
                    top: 240px;
                    left: 32%;
                    width: 100px;
                    height: 10px;
                    border-radius: 5px;
                    background-color: $red-deep;
                }
            }



            &.inner {
                position: absolute;
                top: 122px;
                z-index: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition-property: z-index;
                transition-delay: 0.5s;
                box-shadow:
                    0 8px 8px -8px $dark-filter-light,
                    inset -7px 0 7px -7px $red-dark,
                    inset 0 -7px 7px -7px $dark-filter-light;

                .description {
                    width: 244px;
                    height: 64px;
                    font-size: 8px;
                    text-align: left;
                    overflow-y: auto;
                }

                .blue {
                    display: flex;
                    flex-wrap: wrap;
                    width: 250px;
                    height: 70px;

                    button {
                        width: 50px;
                        height: 35px;
                        border: 1px solid $gray-dark;
                        color: $black;
                        background-color: $blue-main;

                        &:first-of-type {
                            border-top-left-radius: 7px;
                        }

                        &:nth-of-type(5) {
                            border-top-right-radius: 7px;
                        }

                        &:nth-of-type(6) {
                            border-bottom-left-radius: 7px;
                        }

                        &:last-of-type {
                            border-bottom-right-radius: 7px;
                        }
                    }
                }

                .yellow-section {
                    display: flex;
                    justify-content: space-between;
                    width: 250px;
                    height: 70px;

                    .yellow-section-wrapper {
                        display: flex;
                        align-items: center;

                        .white-button {
                            width: 50px;
                            height: 35px;
                            border: none;
                            background-color: $gray-light;

                            &:first-of-type {
                                border: 1px solid $gray-dark-active;
                                border-top-left-radius: 7px;
                                border-bottom-left-radius: 7px;
                            }

                            &:last-of-type {
                                border-top: 1px solid $gray-dark-active;
                                border-right: 1px solid $gray-dark-active;
                                border-bottom: 1px solid $gray-dark-active;
                                border-top-right-radius: 7px;
                                border-bottom-right-radius: 7px;
                            }
                        }

                        &.right {
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-end;

                            .black-thingy-wrapper {
                                display: flex;
                                align-content: space-between;
                                padding: 10px 0;

                                .black-thingy {
                                    width: 43px;
                                    height: 7px;
                                    border-radius: 3px;
                                    background-color: $gray-dark;

                                    &:first-of-type {
                                        margin-right: 7px;
                                    }
                                }
                            }

                            .yellow-button {
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                background: radial-gradient(circle at 30% 30%, $white 0%, $yellow-light 25%, $yellow-main 60%, $yellow-shadow 100%)
                            }
                        }
                    }
                }

                .type-wrapper {
                    display: flex;
                    justify-content: space-between;
                    width: 250px;

                    .type {
                        width: 105px;
                        height: 24px;
                        text-align: center;
                        line-height: 24px;
                        font-size: 10px;
                    }
                }
            }
        }

        &:not(.open):not(.closed) {

            .top .red,
            .panel.right {
                margin-left: 10px;
            }
        }
    }

    .toggle {
        position: absolute;
        top: 59.5%;
        right: -122px;
        padding: 12px;
        border: none;
        color: $black;
        background-color: transparent;
        font-family: "Press Start 2P", system-ui;
        letter-spacing: -1px;
        cursor: pointer;
        transform: rotateY(0deg);
        transition-property: transform;
        transition-delay: 0.5s;

        &.closed {
            transform: rotateY(180deg);
        }
    }
}

@keyframes openAnim {
    from {
        margin-left: 10px;
    }

    to {
        margin-left: 0;
    }
}

@keyframes closeAnim {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 10px;
    }
}