// Primary Colors
$red-main: #da0000;
$red-dark: #8f0000;
$red-deep: #b60000;
$red-glow: #d33;
$red-shadow: #3a0000;

// Blue
$blue-main: #008cff;
$blue-light: #66c7ff;
$blue-dark: #004c99;

// Yellow
$yellow-main: #ffd000;
$yellow-light: #ffe066;
$yellow-shadow: #b39200;

// Green
$green-main: #00c800;
$green-light: #66ff66;
$green-dark: #006600;

// Grays
$gray-light: #cccccc;
$gray-dark: #333333;

// Accent
$display-screen: #95ff95;