@use "./variables" as *;

@keyframes openAnim {
    from {
        margin-left: 10px;
    }

    to {
        margin-left: 0;
    }
}

@keyframes closeAnim {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 10px;
    }
}

@mixin flashing($color) {
    animation: flashing 0.1s infinite alternate;

    @keyframes flashing {
        from {
            box-shadow: 0 0 5px $color;
            filter: brightness(0.6);
        }

        to {
            box-shadow: 0 0 20px $color;
            filter: brightness(1);
        }
    }
}

@keyframes screen-flashing {
    from {
        background-color: $display-screen-inactive;
        box-shadow: inset 0 0 1px 1px $black;
    }

    to {
        background-color: $display-screen;
        box-shadow: inset 0 0 3px 1px $green-dark;
    }
}