@use "./variables" as *;

@mixin screen {
    border: 1px solid $black;
    background-color: $display-screen-inactive;
    font-family: "Press Start 2P", system-ui;
    box-shadow: inset 0 0 1px 1px $black;

    &.active {
        color: $black;
        background-color: $display-screen !important;
        box-shadow: inset 0 0 3px 1px $green-dark !important;
    }
}